## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

## Data Wrangling

### Gathering Data

In [2]:
# Memuat data Balita
data_balita_df = pd.read_csv("Data/Before Cleaning/data_balita.csv")
data_balita_df.head()

   Umur (bulan) Jenis Kelamin  Tinggi Badan (cm)       Status Gizi
0             0     laki-laki          44.591973           stunted
1             0     laki-laki          56.705203            tinggi
2             0     laki-laki          46.863358            normal
3             0     laki-laki          47.508026            normal
4             0     laki-laki          42.743494  severely stunted

### Assessing Data

#### Menilai data Balita

In [3]:
data_balita_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120999 entries, 0 to 120998
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Umur (bulan)       120999 non-null  int64
 1   Jenis Kelamin      120999 non-null  object
 2   Tinggi Badan (cm)  120999 non-null  float64
 3   Status Gizi        120999 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.7+ MB

In [4]:
data_balita_df.isna().sum()

Umur (bulan)         0
Jenis Kelamin        0
Tinggi Badan (cm)    0
Status Gizi          0
dtype: int64

In [5]:
data_balita_df.describe()

        Umur (bulan)  Tinggi Badan (cm)
count  120999.000000      120999.000000
mean       30.173803          88.655434
std        17.575119          17.300997
min         0.000000          40.010437
25%        15.000000          77.000000
50%        30.000000          89.800000
75%        45.000000         101.200000
max        60.000000         128.000000

In [6]:
print("Jumlah duplikasi: ", data_balita_df.duplicated().sum())

Jumlah duplikasi:  81574

Hasil menilai data ditemukan banyak duplikasi data maka dari itu perlu dilakukan pembersihan data duplikat

### Cleaning Data

#### Membersihkan Data data_balita_df

##### Menghilangkan Duplikasi Data
Pada data data_balita_df terdapat data yang mengalami duplikasi sehingga untuk penyelesaiannya yaitu dengan menghapus duplikasi data tersebut

In [7]:
data_balita_df.drop_duplicates(inplace=True)

Cek apakah data masih ada duplikat atau tidak

In [8]:
print("Jumlah duplikasi: ", data_balita_df.duplicated().sum())

Jumlah duplikasi:  0

In [9]:
data_balita_df.describe(include="all")

        Umur (bulan) Jenis Kelamin  Tinggi Badan (cm) Status Gizi
count   39425.000000         39425       39425.000000       39425
unique           NaN             2                NaN           4
top              NaN     perempuan                NaN      normal
freq             NaN         20024                NaN       21514
mean       28.301332           NaN          86.040251         NaN
std        19.260394           NaN          19.766565         NaN
min         0.000000           NaN          40.010437         NaN
25%        10.000000           NaN          72.100000         NaN
50%        29.000000           NaN          88.400000         NaN
75%        45.000000           NaN         100.800000         NaN
max        60.000000           NaN         128.000000         NaN

Setelah itu data sudah tidak ada duplikat dan berikut status gizinya

In [10]:
unique_status_gizi = data_balita_df["Status Gizi"].unique()
print(unique_status_gizi)

['stunted' 'tinggi' 'normal' 'severely stunted']